<section class="main-banner">
  <div class="img-bckd">
    <div class="container main-text">
      <h1>
        <strong>Discover a world of silence</strong></h1>
    </div>
    <div class="container text-banner">
      <p>Learn how to freedive, dive on one breath and discover a new world</p>
    </div>
    <div class="container btn-blue btn-banner">
      <%= link_to 'Contact', contact_path%>
    </div>
  </div>
  </section>

<section class="main-card">
  <div class="card card1">
    <p class="card-title"> Padi Basic Freediving course</p>
    <p class="card-details">2 days from 0 to 20 Meters</p>
    <p class="container btn-blue">
       <%= link_to 'Contact', contact_path%>
    </p>
  </div>
  <div class="card card2">
    <p class="card-title"> Padi Advanced Freediving course</p>
    <p class="card-details">3 days from 20 to 30 Meters</p>
    <p class="container btn-blue">
      <%= link_to 'Contact', contact_path%>
    </p>
  </div>
  <div class="card card3">
    <p class="card-title">Padi Master Freediving course</p>
    <p class="card-details">3 days from 30 to 40 Meters</p>
    <p class="container btn-blue">
      <%= link_to 'Contact', contact_path%>
    </p>
  </div>
</section>

<section class="middle-banner">
    <div class="container main-text">
      <h1>
        <strong>Ready to dive in? </strong></h1>
    </div>
    <div class="container btn-blue btn-banner">
      <%= link_to 'Contact Me', contact_path%>
    </div>
</section>  

<section class="container about" id="about"> 
  <%= image_tag("Webiste-Profile-Pic.jpg", :class => 'img-about')%>
  <p>Christophe is a world traveler, ocean lover, and a passionate freediving and meditation instructor.<p>
  <p>He has been sharing his passion for the ocean with his students for the last 5 years, giving them more confidence underwater, coaching them for better diving technique, and helping them achieve personal diving milestones.  In addition, his deep knowledge of meditation, stretching, and the mental challenges that come with freediving, have allowed him to offer unique perspectives in order to help others overcome mental blocks and hurdles.  Not only is this applicable in freediving, but in life as well.</p>
  <p>Christophe is a certified SSI III and PADI Master Freediving Instructor, EFR Instructor, and REIKI practitioner.  He is also the co-founder of Freedive-Earth.com, a freediving and spearfishing community.</p>
  <p>French and English spoken.</p>
</section>

